body{
    background-color :#EAF6F6;
   } 
   hr{
     border-style: dotted none none none;
     width: 2%;
     border-top-color: grey;
     border-top-width: 5px;
   }
   h1{
       color: #1572A1;
   }
   h3{
       color: #24A19C;
   }